{{set . "title" "글쓰기 양식"}}
{{template "Board/header.html" .}}

<form action='{{url "Board.Index"}}' method="post">
	<table id="table_board" class="writeForm">
		<colgroup>
			<col width="200">
			<col width="80%">
		</colgroup>
		<thead>
			<tr>
				<th colspan="2">글쓰기</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>책 제목</td>
				<td><input type="text" name="board.BookName" size="40"><br></td>
			</tr>
			<tr>
				<td>저자</td>
				<td><input type="text" name="board.Writer"></td>
			</tr>
			<tr>
				<td>출판사</td>
				<td><input type="text" name="board.Publisher"></td>
			</tr>
			<tr>
				<td>책 내용</td>
				<td><textarea name="board.Body" id="ir1"  rows="5" cols="100"></textarea></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2">
					<p style="text-align: center;">
						<input type="submit" value="전송" />
						<input type="button" value="돌아가기" onclick="history.go(-1)" />
					</p>
				</td>
			</tr>
		</tfoot>
	</table>
</form>
{{template "Board/footer.html" .}}